<!DOCTYPE html>
<html>

<head>
<title>My Account | Wikipedia</title>
<!--CSS BEGIN-->
<link href='bootstrap/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
<link href='css/account.css' rel='stylesheet' type='text/css'>
<!--CSS END-->
<!--JS BEGIN-->
<script type='text/javascript' src='http://code.jquery.com/jquery-1.11.1.min.js'></script>
<!--JS END-->
</head>

<body>

<section class="main">
	<h1>My Account &nbsp;<i>Wikipedia</i></h1>

  <div class="modal-lg" style="margin-left:-320px;width:730px">
  	<div class="modal-content">
      <form class="form-horizontal" style="margin:20px 15px">

        <div class="form-group">
          <label class="col-sm-2 control-label">Major</label>
          <div class="col-sm-9">
            <input class="form-control" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Alma Mater</label>
          <div class="col-sm-9">
            <input class="form-control" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Interests</label>
          <div class="col-sm-9">
            <input class="form-control" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Summary</label>
          <div class="col-sm-9">
            <textarea class="form-control" rows="3"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Personal Life</label>
          <div class="col-sm-9">
            <textarea class="form-control" rows="3"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Accomplishments</label>
          <div class="col-sm-9">
            <textarea class="form-control" rows="3"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">References</label>
          <div class="col-sm-9">
            <textarea class="form-control" rows="3"></textarea>
          </div>
        </div>

        <button type="button" class="btn btn-primary col-md-offset-5" style="width:130px">Save</button>
        <a href="/page"><div>Back</div></a>
      </form>

		</div>
	</div>

</section>

</body>
</html>