body{
	background-color: #eee;
	font-size:14px;
	font-family:sans-serif;
	padding:0;
}

.logo-section {
	position:absolute;
	left:40px;
	top:15px;
	z-index:999;
}

.logo-desc {
	position:absolute;
	top:100px;
	left:-15px;
}

.login-btn {
	position:relative;
	float:right;
	top:5px;
	right:20px;
	color:navy;
	font-size:13px;
}

.login-btn .login:hover {
	cursor:pointer;
}

.login-btn .icon {
	position:relative;
	top:5px;
	padding-left:5px;
}

.headline {
	position:absolute;
	float:left;
	background-color:#f8f8f8;
	height:50px;
	width:100%;
	top:0;
	left:0;
	background: -webkit-gradient(top, #fff, #fff, #fff, #fff, #fdfdfd, #f8f8f8, #eee);
	background: -webkit-linear-gradient(top, #fff, #fff, #fff, #fff, #fdfdfd, #f8f8f8, #eee);
	background: -moz-linear-gradient(top, #fff, #fff, #fff, #fff, #fdfdfd, #f8f8f8, #eee);
	background: -ms-linear-gradient(top, #fff, #fff, #fff, #fff, #fdfdfd, #f8f8f8, #eee);
	background: -o-linear-gradient(top, #fff, #fff, #fff, #fff, #fdfdfd, #f8f8f8, #eee);
	background:	linear-gradient(top, #fff, #fff, #fff, #fff, #fdfdfd, #f8f8f8, #eee);
}

.left {
	position:relative;
	top:170px;
	width:182px;
	left:-10px;
}

.nav {
	position:relative;
	font-size:13px;
	left:-5px;
}

li {
	position:relative;
	list-style-type:none; 
	padding-top:1px;
}

a {
	text-decoration:none;
	color:#0000aa;
}

a:hover {
	text-decoration:underline;
	cursor:pointer;
}

a:visited{
	color:navy;
}

.nav .sub {
	position:relative;
	left:12px;
	top:-7px;
}

.nav .div-line {
	position:relative;
	top:-5px;
	width:135px;
	left:38px;
	height:1px;
	background: -webkit-gradient(left, #eee, #aaa, #eee);
	background: -webkit-linear-gradient(left, #eee, #aaa, #eee);
	background: -moz-linear-gradient(left, #eee, #aaa, #eee);
	background: -ms-linear-gradient(left, #eee, #aaa, #eee);
	background: -o-linear-gradient(left, #eee, #aaa, #eee);
	background:	linear-gradient(left, #eee, #aaa, #eee);
}

.nav .category {
	position:relative;
	left:35px;
	color:#555;
}

.right {
	position:absolute;
	left:190px;
	background-color:#fff;
}

.main {
	border:1px solid skyblue;
	border-right-style:none;
	top:83px;
}

.tab-list {
	top:39px;
	z-index:999;
	border-size:0;
}

.tab {
	background: -webkit-gradient(top,#fafafa,#fff,#fff,#fff,#fff,#fff);
	background: -webkit-linear-gradient(top,#fafafa,#fff,#fff,#fff,#fff,#fff);
	background: -moz-linear-gradient(top,#fafafa,#fff,#fff,#fff,#fff,#fff);
	background: -ms-linear-gradient(top,#fafafa,#fff,#fff,#fff,#fff,#fff);
	background: -o-linear-gradient(top,#fafafa,#fff,#fff,#fff,#fff,#fff);
	background:	linear-gradient(top,#fafafa,#fff,#fff,#fff,#fff,#fff);
	height:45px;
	border:1px solid skyblue;
	border-top-style:none;
	border-bottom-style:none;
	text-align: center;
	line-height:48px;
	font-size:14px;
	padding:0 6px;
}

.tab:hover {
	cursor:pointer !important;
}

.untab {
	background: -webkit-gradient(top,#fafafa,#eaf5fd,#eaf5fd,#eaf5fd,#eaf5fd);
	background: -webkit-linear-gradient(top,#fafafa,#eaf5fd,#eaf5fd,#eaf5fd,#eaf5fd);
	background: -moz-linear-gradient(top,#fafafa,#eaf5fd,#eaf5fd,#eaf5fd,#eaf5fd);
	background: -ms-linear-gradient(top,#fafafa,#eaf5fd,#eaf5fd,#eaf5fd,#eaf5fd);
	background: -o-linear-gradient(top,#fafafa,#eaf5fd,#eaf5fd,#eaf5fd,#eaf5fd);
	background:	linear-gradient(top,#fafafa,#eaf5fd,#eaf5fd,#eaf5fd,#eaf5fd);
	position:absolute;
	top:-1px;
	left:52px;
	border-bottom-style:solid;
	color:navy;
}

.right .content {
	position: relative;
	margin-left:20px;
	margin-top:20px;
	margin-right:20px;
}

.summary {
	line-height:23px;
}

.content .title {
	position: relative;
	font-family:serif;
	font-size:32px;

}

.content .profile {
	width:260px;
	position: relative;
	float:right;
	margin-left:10px;
	border:1px solid #888;
	background-color:#eee;
	padding-bottom:10px;
}

.content .caption {
	margin-bottom:21px;
}

.content .contents {
	width:210px;	
	position: relative;
	float:left;
	border:1px solid #888;
	background-color:#eee;
	padding-bottom:10px;
}

p.center {
	text-align: center;
}

.profile .username {
	font-size:16px;
	font-weight:bold;
}

.profile .info {
	margin-left:10px;
	margin-top:-4px;

}

.info-key {
	font-size:12px;
	font-weight: bold;
	float:left;
	width:70px;
}

.info-value {
	margin-left:35px;
	margin-right:10px;
}

.info-value li {
	margin-top:3px;
	font-size:12px;
}

.content ol {
	margin-left:-5px;
}

.content ol li {
	list-style-type: decimal;
	margin-top:5px;
}

.contents-title {
	font-weight:bold;
	font-size:14px;
}

.part {
	padding-top:2px;
	clear:left;
	min-width:900px !important;
}

.part .topic {
	font-family:serif;
	font-size:22px;
	margin-bottom:-5px;
}

.part-content {
	line-height:23px;
}

footer {
	position:absolute;
	bottom:-140px;
	height:120px;
	width:100%;
}

footer p {
	margin:0 20px 10px 30px;
	font-size:11px;

}

.share-section {
	position:relative;
	float:right;
	top:-53px;
}

.share-section .search-input {
	font-size:16px;
	background-color:#fcfcfc;
	padding-right:32px;
}

#search-btn {
	position:absolute;
	top:4px;
	right:10px;
	height:20px;
}

#search-btn:hover {
	cursor:pointer;
}

.share-section a {
	text-decoration: none;
	z-index: 999;
}

.btn {
	margin-right:10px;
	padding:6px;
	border-radius:5px;
}

.btn i:hover {
	cursor:pointer !important;
}

.share-section a:hover {
	cursor:pointer !important;
}

.share-section a:visited {
	color:#eee;
}

.share-section a:active {
	color:#d5d5d5;
}
